/* 
======================================================================================== */
.col-lg-12{
	position:absolute;
}


img {
    max-width: 124px;
    max-height: 96px;
}


/* 
======================================================================================== */

.emotion{
	/*border-style: dashed; */ /*Dashed line around emotion DIV for DEBUGGING*/ 
	text-align: center;
	

}

#howDoYouFeel{
	text-align: center
}

table{
	width: 100%;
	height: 100%;
	
}

td{
	padding-top: 5%;
}


.textArea{
	width: 100%;
}

/* 
======================================================================================== */




/* 
======================================================================================== */


/* 
======================================================================================== */



/* OTHER
======================================================================================== */

